Temp/
obj/
Library/
Builds/
Contents/Android/*.unity3d
Contents/Android/*.unity3d.manifest
*.suo
*.csproj
*.sln
*.userprefs
Assets/Scripts/FashionCollection/desktop.ini
*.unityproj
*.csproj.DotSettings
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
*.apk
Contents/Android/Android
Contents/Android/Android.manifest
Assets/UnityVS.meta
Assets/UnityVS/
